[bumpversion]
current_version = 1.0.0-indev
commit = false
tag = false
files = setup.py citrus/__init__.py
parse = ^
	(?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)   # minimum 'N.N.N'
	(?:
	\-(?P<release>[a-z]+) # indev, alpha, beta, prod
	)?
serialize = 
	{major}.{minor}.{patch}-{release}
	{major}.{minor}.{patch}

[bumpversion:part:major]
first_value = 1

[bumpversion:part:release]
optional_value = prod
first_value = indev
values = 
	indev
	alpha
	beta
	prod
